<!-- <%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-add.css">
</head>

  <body>
  <%- include('../includes/nav.ejs') %>
    <main>
      <div id="form_wrapper">
        <div class="form_name">
          <h3>상품 등록</h3>
        </div>
        <% if (errorMessage.find(i => i.param === 'server')) { %>
          <% let index = errorMessage.findIndex(i => i.param === 'server') %>
          <div class="error"><%= errorMessage[index].msg %></div>
        <% } %>
        <form class="product_form" action="/admin/product-update" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <% if (editing) { %>
          <input type="hidden" name="id" value="<%= product._id %>">
          <% } %>
          <div class="input_wrapper input_name">
            <label for="name">상품 이름</label>
            <input id="name" class="input <%= errorMessage.find(e => e.param === 'name') ? 'invalid' : '' %>" type="text" name="name" value="<% if (editing || product) { %><%= product.name %><% } %>" />
            <% if (errorMessage.find(i => i.param === 'name')) { %>
              <% let index = errorMessage.findIndex(i => i.param === 'name') %>
              <div class="error"><%= errorMessage[index].msg %></div>
            <% } %>
          </div>
          <div class="input_wrapper input_img">
            <label for="img">대표 이미지</label>
            <input id="img" type="file" name="img" />
            <label for="desc_img">내용 이미지</label>
            <input id="desc_img" type="file" name="desc_img" />
            <% if (uploadError) { %>
              <div class="error"><%= uploadError.msg %></div>
            <% } %>
          </div>
          <div class="input_wrapper input_price">
            <label for="price">가격</label>
            <input id="price" class="input <%= errorMessage.find(e => e.param === 'price') ? 'invalid' : '' %>" type="number" name="price" value="<% if (editing || product) { %><%= product.price %><% } %>" />
            <% if (errorMessage.find(i => i.param === 'price')) { %>
              <% let index = errorMessage.findIndex(i => i.param === 'price') %>
              <div class="error"><%= errorMessage[index].msg %></div>
            <% } %>
          </div>
          <div class="input_wrapper input_description">
            <label for="description">설명</label>
            <textarea name="description" class="input <%= errorMessage.find(e => e.param === 'description') ? 'invalid' : '' %>" id="description" cols="30" rows="5" maxlength="23"><% if (editing || product) { %><%= product.description %><% } %></textarea>
            <% if (errorMessage.find(i => i.param === 'description')) { %>
              <% let index = errorMessage.findIndex(i => i.param === 'description') %>
              <div class="error"><%= errorMessage[index].msg %></div>
            <% } %>
          </div>
          <input class="submit" type="submit" value="등록하기">
        </form>
      </div>
    <%- include('../includes/end.ejs') %> -->
    
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product-detail.css">
    </head>
    
    <body>
      <%- include('../includes/nav.ejs') %>
      <main>
        <div id="content">
          <section class="content__section">
            <div class="content__imgs">
              <img class="main_img" src="<%= product.imgUrl %>" alt="<%= product.name %>">
              <div class="content__side_img">
    
              </div>
            </div>
            <div class="content__info">
              <div class="content__price">
                <div class="content__basic_info">
                  <h3 class="content__name">
                    <%= product.name %>
                  </h3>
                  <div class="content__reception">
                    <p class="content__rating">
                      평점 4.7 / 5.0
                    </p>
                    <p class="content__reviews">
                      <a href="">리뷰 보러 가기</a>
                    </p>
                  </div>
                  <p class="content__description">
                    <%= product.description %>
                  </p>
                </div>
                <div class="content__price_info">
                  <p class="content__dc">
                    10%
                  </p>
                  <div class="content__dc_info">
                    <span class="content__dc_price">
                      <%= Math.floor(product.price) %>
                      <span class="won">
                        원
                      </span>
                    </span>
                    <span class="content__real_price">
                      <%= Math.floor(product.price * 1.1) %>
                    </span>
                  </div>
                </div>
              </div>
              <div class="content__detail">
                <dl>
                  <dt>중량</dt>
                  <dd>310g</dd>
                </dl>
                <dl>
                  <dt>보관방법</dt>
                  <dd>냉동보관</dd>
                </dl>
                <dl>
                  <dt>원산지</dt>
                  <dd>국산</dd>
                </dl>
                <dl>
                  <dt>알레르기 정보</dt>
                  <dd>대두, 밀</dd>
                </dl>
              </div>
              <div class="content__order">
                <div class="order_qty">
                  <input class="order_howmany" type="number" name="buy" placeholder="1" />
                  개
                  <span class="total_price"><%= Math.floor(product.price) %>원</span>
                </div>
                <% if (isLoggedIn) { %>
                <div class="content__order_type">
                  <form class="cart_post order_post" action="/cart" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="productID" value="<%= product._id %>">
                    <button class="order_style order_cart" type="submit">
                      장바구니 담기
                    </button>
                  </form>
                  <form class="buy_post order_post" action="/order-create" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="order_style order_now" type="submit">
                      바로 구매
                    </button>
                  </form>
                </div>
                <% } else { %>
                <div class="content__order_type">
                  <form class="cart_post order_post" action="/login" method="GET">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="productID" value="<%= product._id %>">
                    <button class="order_style order_cart" type="submit">
                      장바구니 담기
                    </button>
                  </form>
                  <form class="buy_post order_post" action="/order-create" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="order_style order_now" type="submit">
                      바로 구매
                    </button>
                  </form>
                </div>
                <% } %>
              </div>
            </div>
          </section>
          <section class="recommend">
    
          </section>
          <section class="prod_info">
            <nav class="prod_info__nav">
              <ul>
                <li>상품설명</li>
                <li>고객후기</li>
                <li>상품문의</li>
                <li>상세정보</li>
              </ul>
            </nav>
            <div class="prod_info__detail">
    
            </div>
          </section>
        </div>
      </main>