<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/card.css">
  <style>
    .no_product {
      max-width: 90%;
      margin: auto;
      margin-top: 100px;
      text-align: center;
    }
  </style>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <% if (products.length > 0) { %>
      <div class="grid">
        <% for (let product of products) { %>
          <article class="card product">
            <div class="card__img">
              <img src="<%= product.imgUrl %>" alt="<%= product.name %>" />
            </div>
            <div class="card__content">
                <h1 class="product__title">
                  <%= product.name %>
                </h1>
              <h3 class="product__price">
                <%= Math.floor(product.price) %>원
              </h3>
              <p class="product__description">
                <%= product.description %>
              </p>
            </div>
            <div class="card__action">
              <a href="/admin/product-edit/<%= product._id %>?edit=true" class="btn btn_patch">수정</a>
              <form action="/admin/product-delete/<%= product._id %>" method="POST">
                <button type="submit" class="btn btn_delete">
                  삭제
                </button>
              </form>
            </div>
          </article>
        <% } %>
      </div>
    <% } else { %>
      <h1 class="no_product">상품이 없습니다!</h1>
    <% } %>
<%- include('../includes/end.ejs') %>