<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product-add.css">
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <div id="form_wrapper">
      <div class="form_name">
        <h3>상품 등록</h3>
      </div>
      <form class="product_form" action="/admin/product-edit" method="POST">
        <div class="input_wrapper input_name">
          <% if (editing) { %>
            <input type="hidden" name="id" value="<%= product._id %>">
          <% } %>
          <label for="name">상품 이름</label>
          <input id="name" class="input" type="text" name="name" value="<%= product.name %>">
        </div>
        <div class="input_wrapper input_imgUrl">
          <label for="imgUrl">이미지 링크</label>
          <input id="imgUrl" class="input" type="text" name="imgUrl" value="<%= product.imgUrl %>">
        </div>
        <div class="input_wrapper input_price">
          <label for="price">가격</label>
          <input id="price" class="input" type="number" name="price" value="<%= product.price %>">
        </div>
        <div class="input_wrapper input_description">
          <label for="description">설명</label>
          <textarea name="description" class="input" id="description" cols="30" rows="5"><%= product.description %></textarea>
        </div>
          <input class="submit" type="submit" value="등록하기">
        </div>
      </form>
    </div>
<%- include('../includes/end.ejs') %>