<div class="backdrop"></div>
<header>
  <div id="banner">
    <div class="banner__user">
      <ul class="banner__user_menu">
        <% if (!isLoggedIn) { %>
        <li class="user__link user__join">
          <a href="/join">회원가입</a>
        </li>
        <li class="user__link user__login">
          <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">로그인</a>
        </li>
        <% } else { %>
        <div id="user">
          <a class="user__info_name" href="#">
            <img class="down_ico" src="img/ico/down.png" alt="">
            <%= loggedInUser.name %>님
          </a>
          <span class="user__info_wrapper">
            <ul class="user__info_dir">
              <% if (isAdmin) { %>
                <li class="user__info_li">
                  <a class="user__info_a" href="/admin/product-add">
                    <img class="user__info_ico" src="img/ico/delivery.png" alt="">
                    상품등록
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="admin/products">
                    <img class="user__info_ico" src="img/ico/delivery.png" alt="">
                    상품관리
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="#">
                    <img class="user__info_ico" src="img/ico/delivery.png" alt="">
                    주문 현황
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="/product-add">
                    <img class="user__info_ico" src="img/ico/delivery.png" alt="">
                    관리자
                  </a>
                </li>
              <% } else { %>                
                <li class="user__info_li">
                  <a class="user__info_a" href="/orders">
                    <img class="user__info_ico" src="img/ico/delivery.png" alt="">
                    주문내역
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="">
                    <img class="user__info_ico" src="img/ico/heart.png" alt="">
                    찜 목록
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="">
                    <img class="user__info_ico" src="img/ico/coupon.png" alt="">
                    쿠폰
                  </a>
                </li>
                <li class="user__info_li">
                  <a class="user__info_a" href="/cart">
                    <img class="user__info_ico" src="img/ico/bag.png" alt="">
                    장바구니
                  </a>
                </li>
              <% } %>
            </ul>
          </span>
        </div>
        <form action="/logout" method="POST" class="user__link user__logout">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" class="<%= path === '/logout' ? 'active' : '' %>" value="로그아웃" />
        </form>
        <% } %>
      </ul>
    </div>
    <div class="banner__logo">
      <h1 class="logo">
        <a href="/">
          <img class="logo__img" src="/img/main.jpeg" alt="어스밀 로고">
        </a>
      </h1>
    </div>
  </div>
  <nav class="gnb">
    <!-- <button id="side-menu-toggle">
      <img class="menu_toggle_ico" src="/img/ico/toggle_menu.png" alt="">
    </button> -->
    <ul class="gnb__dir">
      <li class="dir__list ctg">
        <a class="<%= path === '/category' ? 'active' : '' %> ctg_toggler" href="/products">
          <img class="menu_toggle_ico" src="/img/ico/toggle_menu.png" alt="">
          전체 카테고리
        </a>
        <nav class="ctg_box">
          <ul class="ctg_box_layer">
            <li class="ctg_list">
              <a class="ctg_link" href="">
                도시락
              </a>
            </li>
            <li class="ctg_list">
              <a class="ctg_link" href="">
                사이드 디시
              </a>
            </li>
            <li class="ctg_list">
              <a class="ctg_link" href="">
                디저트
              </a>
            </li>
            <li class="ctg_list">
              <a class="ctg_link" href="">
                반려동물 식품
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="dir__list">
        <a class="<%= path === '/events' ? 'active' : '' %>" href="/community">
          이벤트
        </a>
      </li>
      <li class="dir__list">
        <a class="<%= path === '/products/onsale' ? 'active' : '' %>" href="/products/onsale">
          특가상품
        </a>
      </li>
      <li class="dir__list">
        <a class="<%= path === '/admin/product-add' ? 'active' : '' %>" href="/community">
          밀리기록
        </a>
      </li>
      <% if (isLoggedIn) { %>

      <% } %>
    </ul>
    <div class="gnb__side_search">
      <form class="side_search" action="#">
        <input type="text" label="검색어" class="search_text">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="image" src="/img/ico/search.png" class="search_ico">
      </form>
    </div>
    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">
      <img class="bag_ico" src="img/ico/bag.png" alt="">
    </a>
  </nav>

  <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
      <li class="mobile-nav__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
      </li>
      <% if (isLoggedIn) { %>
      <li class="mobile-nav__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
        </a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>