<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-detail.css">
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <div id="content">
      <section class="content__section">
        <div class="content__additional_img">

        </div>
        <div class="content__img">
          <img src="<%= product.img %>" alt="<%= product.name %>">
        </div>
        <div class="content__info">
          <div class="content__price">
            <div class="content__basic_info">
              <h3 class="content__name">
                <%= product.name %>
              </h3>
              <div class="content__reception">
                <p class="content__rating">
                  평점 4.7 / 5.0
                </p>
                <p class="content__reviews">
                  <a href="">리뷰 보러 가기</a>
                </p>
              </div>
              <p class="content__description">
                <%= product.description %>
              </p>
            </div>
            <div class="content__price_info">
              <p class="content__dc">
                10%
              </p>
              <div class="content__dc_info">
                <span class="content__dc_price">
                  <%= Math.floor(product.price) %>
                  <span class="won">
                    원
                  </span>
                </span>
                <span class="content__real_price">
                  <%= Math.floor(product.price * 1.1) %>
                </span>
              </div>
            </div>
          </div>
          <div class="content__detail">
            <div class="content__detail_list">
              <dl>
                <dt>중량</dt>
                <dd>310g</dd>
              </dl>
              <dl>
                <dt>보관방법</dt>
                <dd>냉동보관</dd>
              </dl>
              <dl>
                <dt>원산지</dt>
                <dd>국산</dd>
              </dl>
              <dl>
                <dt>알레르기 정보</dt>
                <dd>대두, 밀</dd>
              </dl>
            </div>
            <div class="content__order">
              <input class="order_howmany" type="number" name="buy" placeholder="1" />
              <span class="qty">개</span>
              <span class="total_price"><%= Math.floor(product.price) %>원</span>
              <% if (isLoggedIn) { %>
              <div class="content__order_type">
                <form class="cart_post order_post" action="/cart" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="productID" value="<%= product._id %>">
                  <button class="order_style order_cart" type="submit">
                    장바구니 담기
                  </button>
                </form>
                <form class="buy_post order_post" action="/order-create" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="order_style order_now" type="submit">
                    바로 구매
                  </button>
                </form>
              </div>
              <% } else { %>
              <div class="content__order_type">
                <form class="cart_post order_post" action="/login" method="GET">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="productID" value="<%= product._id %>">
                  <button class="order_style order_cart" type="submit">
                    장바구니 담기
                  </button>
                </form>
                <form class="buy_post order_post" action="/order-create" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="order_style order_now" type="submit">
                    바로 구매
                  </button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </section>
      <section class="recommend">

      </section>
      <section class="prod_info">
        <nav class="prod_info__nav">
          <ul>
            <li>상품설명</li>
            <li>고객후기</li>
            <li>상품문의</li>
            <li>상세정보</li>
          </ul>
        </nav>
        <div class="prod_info__detail">

        </div>
      </section>
    </div>
  </main>